.booking-container {
  padding: 50px;
  background-color: #121212;
  color: white;
  text-align: center;
  min-height: 100vh;
}

.booking-container h2 {
  font-size: 28px;
  color: #5c62ec;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.booking-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 400px;
  margin: 0 auto;
  background-color: #1a1a1a;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.booking-form label {
  margin-bottom: 15px;
  font-size: 16px;
  color: #cccccc;
  width: 100%;
  text-align: left;
}

.booking-form input,
.booking-form select,
.booking-form textarea {
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  width: 100%;
  background-color: #202020;
  color: white;
  margin-top: 5px;
  transition: all 0.3s ease;
}

.booking-form input:focus,
.booking-form select:focus,
.booking-form textarea:focus {
  border-color: #5c62ec;
  box-shadow: 0 0 10px rgba(92, 98, 236, 0.5);
  outline: none;
}

.booking-form textarea {
  resize: vertical;
  height: 80px; /* Уменьшение высоты */
  width: 100%; /* Фиксируем ширину */
  max-width: 100%; /* Ограничиваем ширину текстового поля */
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #202020;
  color: white;
  margin-top: 5px;
  transition: all 0.3s ease;
}


.booking-form button {
  background-color: #5c62ec;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s, transform 0.3s;
}

.booking-form button:hover {
  background-color: #4b51d4;
  transform: translateY(-3px);
}

.booking-form button:active {
  transform: scale(0.98);
}

.booking-container p {
  color: #5c62ec;
  font-size: 18px;
  font-weight: bold;
}
