/* Nav */

.nav {
	padding: 20px 0;
	background-color: var(--nav-bg);
	border-bottom: 1px solid var(--nav-border);
	color: var(--nav-text);
	letter-spacing: normal;
}

.nav-row {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	column-gap: 30px;
	row-gap: 20px;
	flex-wrap: wrap;
}

.logo {
	margin-right: auto;
	color: var(--nav-text);
	font-size: 24px;
	font-family: 'Poppins', sans-serif;
}

.logo strong {
	font-weight: 700;
}

.nav-list {
	display: flex;
	flex-wrap: wrap;
	row-gap: 10px;
	align-items: center;
	column-gap: 40px;
	font-size: 16px;
	font-weight: 500;
	font-family: 'Poppins', sans-serif;
}

.nav-list__link {
	color: var(--nav-text);
	transition: opacity 0.2s ease-in;
}

.nav-list__link:hover {
	opacity: 0.8;
}

.nav-list__link--active {
	position: relative;
}

.nav-list__link--active::before {
	content: '';

	position: absolute;
	left: 0;
	top: 100%;

	display: block;
	height: 2px;
	width: 100%;
	background-color: var(--accent);
}

/* Кнопка в навбаре */
.nav-btn {
    background-color: var(--accent); /* Акцентный цвет */
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    transition: background-color 0.3s ease;
    margin-left: auto; /* Чтобы кнопка находилась справа */
    text-decoration: none; /* Убираем подчеркивание */
}

.nav-btn:hover {
    background-color: #4b51d4; /* Меняем цвет при наведении */
}

.nav-btn:active {
    transform: scale(0.98); /* Легкий эффект при нажатии */
}


/* Стиль для гамбургер-иконки */
.hamburger {
    display: none;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 20px;
}

.hamburger span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: var(--nav-text);
    transition: all 0.3s ease;
}

/* Открытое меню */
.hamburger.open span:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.hamburger.open span:nth-child(2) {
    opacity: 0;
}

.hamburger.open span:nth-child(3) {
    transform: translateY(-9px) rotate(-45deg);
}

/* Скрываем гамбургер-меню на больших экранах */
@media (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    /* Скрываем меню по умолчанию на мобильных */
    .nav-list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: var(--nav-bg);
        padding: 20px 0;
        text-align: center;
    }

    /* Когда меню открыто, показываем его */
    .nav-list.open {
        display: flex;
    }

    .nav-list__item {
        margin: 10px 0;
    }
}

/* На больших экранах показываем стандартный навбар */
@media (min-width: 769px) {
    .nav-list {
        display: flex;
    }
}
