.process-steps {
    background-color: #121212;
    color: white;
    padding: 50px;
    text-align: center;
  }
  
  .process-steps h2 {
    color: #FFFFFF;
    margin-bottom: 40px;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }
  
  .steps-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-items: center;
  }
  
  .step-box {
    background: linear-gradient(145deg, #1d1d1d, #262626);
    border: 1px solid #333;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .step-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
  }
  
  .step-number {
    font-size: 36px;
    color: #5c62ec;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .step-text {
    font-size: 16px;
    color: #CCCCCC;
  }
  
  .step-box:active {
    background-color: #5c62ec;
    color: white;
    transform: scale(0.98);
  }
  
  .action-button {
    margin-top: 40px;
  }
  
  .service-button {
    background-color: #5c62ec;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 50px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .service-button:hover {
    background-color: #5c62ec;
    transform: translateY(-5px);
  }
  
  .service-button:active {
    transform: scale(0.95);
    background-color: #5c62ec;
  }
  
  @media (max-width: 768px) {
    .steps-grid {
      grid-template-columns: 1fr;
    }
  }
  

  /* Кнопка "Записаться на обслуживание" */
.service-button {
  display: inline-block;
  background-color: #5c62ec;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 50px;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s, transform 0.3s;
}

.service-button:hover {
  background-color: #4b51d4;
  transform: translateY(-5px);
}

.service-button:active {
  transform: scale(0.95);
}